.page-content {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &__form {
        width: 24.1%;
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        padding: 24px;

        .label {
            position: relative;
            color: $font-secondary;
            font: 10px/13px Source Sans Pro, sans-serif;
            letter-spacing: -0.02em;
            margin-bottom: 4px;

            &.required:after {
                position: absolute;
                content: '';
                border-radius: 50%;
                background-color: $warning;
                width: 4px;
                height: 4px;
            }
        }

        .input {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin-bottom: 16px;
            padding: 10px 16px 11px;
            font: 400 12px/15px Source Sans Pro, sans-serif;


            &::placeholder {
                color: $dark-grey;
                font: 400 12px/15px Source Sans Pro, sans-serif;
            }
        }

        .textarea {
            height: 108px;
        }

        .button {
            font: 600 12px/15px Inter, sans-serif;
            letter-spacing: -0.02em;
            margin-top: 8px;
            padding-bottom: 11px;
        }

        .invalid {
            font: 400 8px/10px Source Sans Pro, sans-serif;
            color: $warning;
            letter-spacing: -0.02em;
            margin-bottom: 2px;

            &-input {
                border: 1px solid $warning;
                margin-bottom: 4px;
                padding: 9px 16px 10px
            }
        }

        .submit-message {
            text-align: center;
            color: $success;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        width: calc(75.9% - 16px);


        .card {
            position: relative;
            width: 100%;
            background-color: $white;
            cursor: pointer;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
            border-radius: 4px;

            &-img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 4px 4px 0px 0px;
            }

            &-title {
                letter-spacing: 0.2px;
            }

            &-info {
                padding: 12px 16px 24px;
            }

            &-description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                margin-bottom: 16px;
            }

            &-price {
                font: 600 24px/30px Source Sans Pro, sans-serif;
                margin-top: 32px;

                span {
                    padding-left: 7px;
                }
            }

            &-delete {
                display: none;
                position: absolute;
                top: -8px;
                right: -8px;
                width: 32px;
                height: 32px;
                cursor: pointer;
                background-color: $warning;
                border: none;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                background-image: url('../images/btn-delete.svg');
                background-repeat: no-repeat;
                background-position: center;

            }

            &:hover .card-delete {
                display: block;
            }
        }
    }
}